body, html {
    background-color:  lightgreen;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#container {
    width: 80%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

header {
    text-align: center;
}

#book {
    background: url('C:\\Users\\WillMicknick\\VSCode\\Fooling\\help-book-background.png') no-repeat center center;
    background-size: contain; 
    position: relative; 
    width: 755px; /* Adjust width to match the background image */
    height: 502px; /* Adjust height to match the background image */
    margin: auto; 
}

.page {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    overflow: auto; 
}

.page.left {
    left: 10%; 
    width: 30%; 
    height: 70%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.page.right {
    right: 10%; 
    width: 35%; 
    height: 70%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px; 
}

#book-cover {
    max-width: 100%;
    max-height: 100%;
}

footer {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}
